/*  GIFOS Stylesheet  */
/* Hecho Mobile First */

/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@400;700;900&display=swap");

/* Variables */

$col-pri: #572ee5;
$col-sec: #50e3c2;
$negro: #000000;
$gris: #f3f5f8;
$gris-oscuro: #9cafc3;

$interlineado: 1.7;
$anchomax: 70vw;

/* Mixins */

@mixin centrarFlex($direccion, $centradojus, $centradoali) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $centradojus;
  align-items: $centradoali;
}

/* Responsive */

* {
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

/* Elimina la X de la barra en IE */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Elimina la X de la barra en Webkit */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*  MOBILE   */
/* max 480px */

body {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Montserrat;
    font-weight: 700;
    color: $col-pri;
  }

  h1 {
    font-size: 25px;

    em {
      font-style: inherit;
      color: $col-sec;
    }
  }

  h2 {
    font-size: 20px;
    text-transform: capitalize;
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding-right: 5px;
    text-transform: capitalize;
  }

  p,
  span,
  a,
  ul,
  input {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    color: $negro;
  }

  button {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 700;
    background: rgba(0, 0, 0, 0);
    border: 1px solid $col-pri;
    border-radius: 25px;
    padding: 15px 30px;
    color: $col-pri;
  }

  .hide {
    display: none !important;
  }

  div#overlay {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    @include centrarFlex(row, center, center);

    #overlay-gif-middle-div {
      @include centrarFlex(column, center, center);
      margin: 0 25px;

      #overlay-info {
        width: 100%;

        #overlay-info-det-user {
          margin-top: 25px;
          font-size: 15px;
        }

        #overlay-info-det-title {
          font-weight: bold;
          margin-top: 7px;
          font-size: 18px;
        }
      }
    }

    #overlay-gif-left-div,
    #overlay-gif-right-div {
      @include centrarFlex(column, center, center);
      height: 70%;
      position: relative;
    }

    #overlay-close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  nav {
    border-top: 5px solid $col-pri;

    #nav-div {
      @include centrarFlex(row, space-between, stretch);
      padding: 30px 20px;

      #nav-elem {
        display: none;

        a {
          font-family: Montserrat, sans-serif;
        }
      }
    }
  }

  header {
    padding: 15px 0;

    h1 {
      text-align: center;
      padding: 0 35px;
    }

    #header-bus {
      @include centrarFlex(column, center, center);

      img {
        max-width: 230px;
      }

      padding: 30px 0 15px 0;
    }

    #header-tre {
      text-align: center;
      padding: 20px 70px;
      line-height: $interlineado;
    }

    #search-div {
      border-radius: 25px;
      border: 1px solid $col-pri;
      font-size: 16px;
      padding: 15px 20px;
      width: 520px;

      .search-bar-div {
        display: flex;

        i {
          &:first-child {
            padding-right: 10px;
            color: $gris-oscuro;
          }

          &:last-child {
            padding-left: 10px;
            color: $col-pri;
          }
        }
        form {
          width: 100%;
          input {
            border: none;
            background-color: rgba(0, 0, 0, 0);
            width: 100%;
          }
        }
      }

      #search-sug-list {
        list-style-type: none;
        color: $gris-oscuro;

        li {
          i {
            padding-right: 10px;
          }

          &:first-child {
            border-top: 1px solid $gris-oscuro;
            margin-top: 10px;
          }

          padding: 7px 0;
        }
      }
    }
  }

  section {
    text-align: center;
    padding: 30px 0;

    &#section-tre {
      background-color: $gris;

      #section-tit {
        line-height: $interlineado;
        padding: 0 70px 30px 70px;
      }
    }

    #section-res-tit {
      font-size: 36px;
      margin-bottom: 60px;
    }

    #section-res-info {
      margin: 95px 0;
      h3 {
        text-align: center;
        color: $col-sec;
        margin-top: 25px;
      }
    }

    #section-res-gal {
      max-width: $anchomax;
      margin: 50px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 25px;
      justify-content: center;
      align-content: center;

      .fetched-gif {
        width: 260px;
        height: 200px;
        background-size: cover;
        overflow: hidden;
        position: relative;

        &:hover .fetched-gif-overlay {
          top: 0;
        }

        .fetched-gif-overlay {
          background-color: rgba(87, 46, 229, 0.7);
          height: 100%;
          width: 100%;
          top: -100%;
          position: absolute;
          transition: 0.5s ease;
          @include centrarFlex(column, flex-end, flex-start);

          .fetched-gif-info {
            @include centrarFlex(column, flex-end, flex-start);
            padding: 14px;
            height: 100%;

            .fetched-gif-user {
              font-size: 14px;
            }

            .fetched-gif-title {
              font-size: 16px;
              font-weight: bold;
              text-align: left;
            }
          }

          p {
            color: #fff;
          }
        }
      }

      img {
        width: 260px;
        height: 200px;
      }
    }

    #section-res-gal-pag {
      ul {
        @include centrarFlex(row, center, stretch);
        list-style-type: none;
        margin-bottom: 25px;

        li {
          color: $col-pri;
          font-weight: bold;
          cursor: pointer;
          padding: 0 12px;
        }
      }
    }
  }

  footer {
    border-bottom: 5px solid $col-pri;
    #footer-div {
      @include centrarFlex(column, stretch, stretch);
      text-align: center;
      padding: 30px 20px;

      #footer-com-ico {
        padding: 20px 0 50px 0;

        img {
          padding: 0 7px;
        }
      }
    }
  }
}

/*  DESKTOP  */

@media all and (min-width: 1024px) {
  body {
    h1 {
      font-size: 34px;
      max-width: 600px;
      margin: 0 auto;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    nav {
      #nav-div {
        max-width: $anchomax;
        margin: 0 auto;
        #nav-ham {
          display: none;
        }

        #nav-elem {
          @include centrarFlex(row, center, center);

          a {
            text-decoration: none;
            color: $col-pri;
            font-weight: bold;
            font-size: 14px;
            margin: 0 25px;
            text-transform: uppercase;
          }

          #nav-elem-agr {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: 300;
            font-size: 32px;
            border: 1px solid $col-pri;
            border-radius: 50%;
            width: 54px;
            height: 54px;
            padding: 0px;
            margin-right: 0;
          }
        }
      }
    }

    header {
      #header-bus {
        img {
          max-width: 390px;
        }
      }
    }

    section {
      #section-tre-car {
        img {
          width: 360px;
          height: 275px;
        }
      }
    }

    footer {
      #footer-div {
        @include centrarFlex(row, space-between, stretch);
        max-width: $anchomax;
        margin: 0 auto;

        #footer-com {
          @include centrarFlex(row, stretch, stretch);

          #footer-com-ico {
            padding: 0 0 0 20px;
          }
        }
      }
    }
  }
}
