/*  GIFOS Stylesheet  */
/* Hecho Mobile First */
/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@400;700;900&display=swap");
/* Variables */
/* Modo diurno */
/* Modo nocturno */
/* Mixins */
/* Responsive */
* {
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
}

/* Elimina la X de la barra en IE */
input[type=search]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type=search]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Elimina la X de la barra en Webkit */
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  display: none;
}

/*  MOBILE   */
/* max 480px */
body h1,
body h2,
body h3,
body h4,
body h5 {
  font-family: Montserrat;
  font-weight: 700;
  color: #572ee5;
}
body h1 {
  font-size: 25px;
}
body h1 em {
  font-style: inherit;
  color: #50e3c2;
}
body h2 {
  font-size: 20px;
  text-transform: capitalize;
}
body h2 em {
  font-style: inherit;
  color: #50e3c2;
}
body h3 {
  font-size: 16px;
}
body h4 {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  padding-right: 5px;
  text-transform: capitalize;
}
body p,
body span,
body a,
body ul,
body input {
  font-size: 16px;
  font-family: Roboto;
  font-weight: 400;
  color: #000000;
}
body ::-webkit-input-placeholder {
  color: #9cafc3;
  opacity: 1;
}
body ::-moz-placeholder {
  color: #9cafc3;
  opacity: 1;
}
body :-ms-input-placeholder {
  color: #9cafc3;
  opacity: 1;
}
body ::-ms-input-placeholder {
  color: #9cafc3;
  opacity: 1;
}
body ::placeholder {
  color: #9cafc3;
  opacity: 1;
}
body :-ms-input-placeholder {
  color: #9cafc3;
}
body ::-ms-input-placeholder {
  color: #9cafc3;
}
body button {
  font-family: "Montserrat";
  text-transform: uppercase;
  font-weight: 700;
  background: rgba(0, 0, 0, 0);
  border: 1px solid #572ee5;
  border-radius: 25px;
  padding: 15px 30px;
  color: #572ee5;
}
body a {
  cursor: pointer;
}
body a:hover {
  border-bottom: 2px solid #50e3c2;
  -webkit-transition: border-width 0.1s linear;
  transition: border-width 0.1s linear;
}
body .hide {
  display: none !important;
}
body div#overlay {
  background: #ffffff;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body div#overlay #overlay-gif-middle-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 25px;
}
body div#overlay #overlay-gif-middle-div #overlay-info {
  width: 100%;
}
body div#overlay #overlay-gif-middle-div #overlay-info #overlay-info-det-user {
  margin-top: 25px;
  font-size: 15px;
}
body div#overlay #overlay-gif-middle-div #overlay-info #overlay-info-det-title {
  font-weight: bold;
  margin-top: 7px;
  font-size: 18px;
}
body div#overlay #overlay-gif-left-div,
body div#overlay #overlay-gif-right-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70%;
  position: relative;
}
body div#overlay #overlay-gif-slide-right,
body div#overlay #overlay-gif-slide-left {
  width: 40px;
  height: 40px;
  display: inline-block;
}
body div#overlay #overlay-gif-slide-right {
  background-image: url("../img/button-slider-right.svg");
}
body div#overlay #overlay-gif-slide-right:hover {
  background-image: url("../img/button-slider-right_hover.svg");
}
body div#overlay #overlay-gif-slide-left {
  background-image: url("../img/button-slider-left.svg");
}
body div#overlay #overlay-gif-slide-left:hover {
  background-image: url("../img/button-slider-left_hover.svg");
}
body div#overlay #overlay-close {
  position: absolute;
  right: 0;
  top: 0;
}
body nav {
  border-top: 5px solid #572ee5;
}
body nav #nav-ham {
  display: none;
}
body nav #nav-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 30px 20px;
}
body nav #nav-div #logo {
  cursor: pointer;
  width: 62px;
  height: 59px;
  background-image: url("../img/logo-desktop.svg");
}
body nav #nav-div #nav-elem {
  display: none;
}
body nav #nav-div #nav-elem a {
  font-family: Montserrat, sans-serif;
  text-decoration: none;
  color: #572ee5;
  font-weight: bold;
  font-size: 14px;
  margin-right: 50px;
  text-transform: uppercase;
}
body nav #nav-div #nav-elem a.active {
  color: #9cafc3;
}
body nav #nav-div #nav-elem #nav-elem-agr {
  width: 54px;
  height: 54px;
  display: inline-block;
  background-image: url("../img/button-crear-gifo.svg");
  cursor: pointer;
}
body nav #nav-div #nav-elem #nav-elem-agr:hover {
  background-image: url("../img/button-crear-gifo_hover.svg");
}
body header {
  padding: 15px 0;
}
body header h1 {
  text-align: center;
  padding: 0 35px;
}
body header #header-bus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 0 15px 0;
}
body header #header-bus img {
  max-width: 230px;
}
body header #header-tre {
  text-align: center;
  padding: 20px 70px;
  line-height: 1.7;
}
body header #header-tre li a {
  cursor: pointer;
}
body header #search-div {
  border-radius: 25px;
  border: 1px solid #572ee5;
  font-size: 16px;
  padding: 15px 20px;
  width: 80%;
}
body header #search-div ul li .search-bar-lupa-search {
  background-image: url("../img/icon-search-gris.svg");
  width: 17px;
  height: 15px;
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 8px;
}
body header #search-div .search-bar-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
body header #search-div .search-bar-div i:first-child {
  padding-right: 10px;
  color: #9cafc3;
}
body header #search-div .search-bar-div i:last-child {
  padding-left: 10px;
  color: #572ee5;
}
body header #search-div .search-bar-div form {
  width: 100%;
}
body header #search-div .search-bar-div form input {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
}
body header #search-div .search-bar-div #search-bar-lupa-placeholder,
body header #search-div .search-bar-div #search-bar-lupa-search {
  width: 22px;
  height: 20px;
  background-repeat: no-repeat;
}
body header #search-div .search-bar-div #search-bar-lupa-placeholder {
  background-image: url("../img/icon-search.svg");
}
body header #search-div .search-bar-div #search-bar-lupa-search {
  background-image: url("../img/icon-search-gris.svg");
  margin-right: 8px;
}
body header #search-div .search-bar-div #search-bar-cross {
  width: 15px;
  height: 14px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
}
body header #search-div #search-sug-list {
  list-style-type: none;
  color: #9cafc3;
}
body header #search-div #search-sug-list li {
  cursor: pointer;
  padding: 7px 0;
}
body header #search-div #search-sug-list li i {
  padding-right: 18px;
}
body header #search-div #search-sug-list li:first-child {
  border-top: 1px solid #9cafc3;
  padding-top: 15px;
  margin-top: 10px;
}
body section {
  text-align: center;
  padding: 30px 0;
  background-color: #f3f5f8;
}
body section#section-tre #section-tit {
  line-height: 1.7;
  padding: 0 70px 30px 70px;
}
body section#section-tre #section-tre-car img {
  width: 275px;
  height: 275px;
}
body section #section-res-tit {
  font-size: 36px;
  margin-bottom: 60px;
}
body section #section-res-gal-more {
  width: 127px;
  height: 50px;
  margin: 0 auto;
  background-image: url("../img/cta-ver-mas.svg");
  cursor: pointer;
}
body section #section-res-gal-more:hover {
  background-image: url("../img/cta-ver-mas-hover.svg");
}
body section #section-res-info,
body section #section-fav-info {
  margin: 95px 0;
}
body section #section-res-info h3,
body section #section-fav-info h3 {
  text-align: center;
  color: #50e3c2;
  margin-top: 25px;
}
body section #section-res-gal,
body section #section-fav-gal,
body section #section-tre-car {
  max-width: 70vw;
  margin: 50px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 25px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}
body section #section-res-gal .fetched-gif,
body section #section-fav-gal .fetched-gif,
body section #section-tre-car .fetched-gif {
  width: 260px;
  height: 200px;
  background-size: cover;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
body section #section-res-gal .fetched-gif:hover .fetched-gif-overlay,
body section #section-fav-gal .fetched-gif:hover .fetched-gif-overlay,
body section #section-tre-car .fetched-gif:hover .fetched-gif-overlay {
  top: 0;
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay,
body section #section-tre-car .fetched-gif .fetched-gif-overlay {
  background-color: rgba(87, 46, 229, 0.7);
  height: 100%;
  width: 100%;
  top: -100%;
  position: absolute;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options div,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options div,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options div {
  margin-left: 10px;
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav,
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down,
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view {
  height: 32px;
  width: 32px;
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav {
  background-image: url("../img/icon-fav-normal.svg");
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav:hover,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav:hover,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav:hover {
  background-image: url("../img/icon-fav-hover.svg");
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav.active,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav.active,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-fav.active {
  background-image: url("../img/icon-fav-active.svg");
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down {
  background-image: url("../img/icon-download-normal.svg");
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down:hover,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down:hover,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-down:hover {
  background-image: url("../img/icon-download-hover.svg");
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view {
  background-image: url("../img/icon-max-normal.svg");
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view:hover,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view:hover,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-options .fetched-gif-option-view:hover {
  background-image: url("../img/icon-max-hover.svg");
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-info,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-info,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  height: 100%;
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-info .fetched-gif-user,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-info .fetched-gif-user,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-info .fetched-gif-user {
  font-size: 14px;
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay .fetched-gif-info .fetched-gif-title,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay .fetched-gif-info .fetched-gif-title,
body section #section-tre-car .fetched-gif .fetched-gif-overlay .fetched-gif-info .fetched-gif-title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
}
body section #section-res-gal .fetched-gif .fetched-gif-overlay p,
body section #section-fav-gal .fetched-gif .fetched-gif-overlay p,
body section #section-tre-car .fetched-gif .fetched-gif-overlay p {
  color: #fff;
}
body section #section-res-gal img,
body section #section-fav-gal img,
body section #section-tre-car img {
  width: 260px;
  height: 200px;
}
body section #section-tre-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body section #section-tre-div #section-tre-car {
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 50px 20px;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;
  max-width: 830px;
  -webkit-box-pack: initial;
      -ms-flex-pack: initial;
          justify-content: initial;
}
body section #section-tre-div #trending-gif-slide-right,
body section #section-tre-div #trending-gif-slide-left {
  width: 40px;
  height: 40px;
  display: inline-block;
}
body section #section-tre-div #trending-gif-slide-right {
  background-image: url("../img/button-slider-right.svg");
}
body section #section-tre-div #trending-gif-slide-right:hover {
  background-image: url("../img/button-slider-right_hover.svg");
}
body section #section-tre-div #trending-gif-slide-left {
  background-image: url("../img/button-slider-left.svg");
}
body section #section-tre-div #trending-gif-slide-left:hover {
  background-image: url("../img/button-slider-left_hover.svg");
}
body section #section-res-gal-pag #arrow-left,
body section #section-res-gal-pag #arrow-right,
body section #section-fav-gal-pag #arrow-left,
body section #section-fav-gal-pag #arrow-right {
  width: 8px;
  height: 14px;
  display: inline-block;
  cursor: pointer;
}
body section #section-res-gal-pag #arrow-left,
body section #section-fav-gal-pag #arrow-left {
  background-image: url("../img/arrow-left-gris.svg");
}
body section #section-res-gal-pag #arrow-left.active,
body section #section-fav-gal-pag #arrow-left.active {
  background-image: url("../img/arrow-left-active.svg");
}
body section #section-res-gal-pag #arrow-right,
body section #section-fav-gal-pag #arrow-right {
  background-image: url("../img/arrow-right-gris.svg");
}
body section #section-res-gal-pag #arrow-right.active,
body section #section-fav-gal-pag #arrow-right.active {
  background-image: url("../img/arrow-right-active.svg");
}
body section #section-res-gal-pag ul,
body section #section-fav-gal-pag ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  list-style-type: none;
  margin-bottom: 25px;
  display: inline-block;
  padding: 0 30px;
}
body section #section-res-gal-pag ul li,
body section #section-fav-gal-pag ul li {
  color: #9cafc3;
  font-weight: bold;
  cursor: pointer;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 35px;
  height: 35px;
}
body section #section-res-gal-pag ul li.activo,
body section #section-fav-gal-pag ul li.activo {
  color: #ffffff;
  background-color: #572ee5;
  border-radius: 50%;
}
body #section-cre {
  width: 70vw;
  margin: 0 auto;
  background-color: #ffffff;
}
body #section-cre #section-cre-fila-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body #section-cre #section-cre-fila-1 #section-cre-fila-1-col-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 20%;
}
body #section-cre #section-cre-fila-1 #section-cre-fila-1-col-1 #proyector {
  width: 123px;
  height: 162px;
  background-image: url("../img/misgifos-camara.svg");
}
body #section-cre #section-cre-fila-1 #section-cre-fila-1-col-1 #luz {
  width: 76px;
  height: 128px;
  background-image: url("../img/misgifos-camara-luz.svg");
  margin-bottom: -2px;
}
body #section-cre #section-cre-fila-1 #section-cre-fila-1-col-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  border: 1px solid #572ee5;
  height: 390px;
}
body #section-cre #section-cre-fila-1 #section-cre-fila-1-col-3 {
  width: 20%;
}
body #section-cre #section-cre-fila-1 #section-cre-video {
  width: 470px;
  height: 480px;
}
body #section-cre #section-cre-fila-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-1 {
  width: 10%;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 {
  width: 80%;
  text-align: center;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 25px 0;
  list-style-type: none;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 ul li {
  display: inline-block;
  font-weight: bold;
  margin: 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 35px;
  height: 35px;
  color: #572ee5;
  border: 1px solid #572ee5;
  border-radius: 50%;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 ul li.activo {
  color: #ffffff;
  background-color: #572ee5;
  border-radius: 50%;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 #info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 #info-container #info-space {
  width: 20%;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 #info-container #info-pasos {
  width: 60%;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 #info-container #info-div {
  width: 20%;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-2 hr {
  height: 6px;
  margin: 25px auto;
  width: 60%;
  background-color: #572ee5;
  border-radius: 6px;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-3 {
  width: 10%;
}
body #section-cre #section-cre-fila-2 #section-cre-fila-2-col-3 #rollo {
  width: 142px;
  height: 88px;
  background-image: url("../img/misgifos-rollo.svg");
}
body #section-cre #section-cre-fila-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body #section-cre #section-cre-fila-3 #section-cre-comenzar {
  width: 131px;
  height: 52px;
  background-image: url("../img/cta-comenzar.svg");
  cursor: pointer;
}
body #section-cre #section-cre-fila-3 #section-cre-grabar {
  width: 131px;
  height: 52px;
  background-image: url("../img/cta-grabar.svg");
  cursor: pointer;
}
body #section-cre #section-cre-fila-3 #section-cre-finalizar {
  width: 131px;
  height: 52px;
  background-image: url("../img/cta-finalizar.svg");
  cursor: pointer;
}
body footer {
  border-bottom: 5px solid #572ee5;
}
body footer #footer-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
  padding: 30px 20px;
}
body footer #footer-div #footer-com-ico {
  padding: 20px 0 50px 0;
}
body footer #footer-div #footer-com-ico div {
  margin: 0 7px;
  display: inline-block;
}
body footer #footer-div #footer-com-ico #footer-com-ico-fb {
  width: 8px;
  height: 17px;
  background-image: url("../img/icon_facebook.svg");
  cursor: pointer;
}
body footer #footer-div #footer-com-ico #footer-com-ico-fb:hover {
  background-image: url("../img/icon_facebook_hover.svg");
}
body footer #footer-div #footer-com-ico #footer-com-ico-ig {
  width: 18px;
  height: 18px;
  background-image: url("../img/icon_instagram.svg");
  cursor: pointer;
}
body footer #footer-div #footer-com-ico #footer-com-ico-ig:hover {
  background-image: url("../img/icon_instagram_hover.svg");
}
body footer #footer-div #footer-com-ico #footer-com-ico-tw {
  width: 18px;
  height: 17px;
  background-image: url("../img/icon_twitter.svg");
  cursor: pointer;
}
body footer #footer-div #footer-com-ico #footer-com-ico-tw:hover {
  background-image: url("../img/icon_twitter_hover.svg");
}

body.dark-mode {
  background-color: #37383c;
}
body.dark-mode h1,
body.dark-mode h2,
body.dark-mode h3,
body.dark-mode h4,
body.dark-mode h5 {
  color: #ffffff;
}
body.dark-mode p,
body.dark-mode span,
body.dark-mode a,
body.dark-mode ul,
body.dark-mode input {
  color: #ffffff;
}
body.dark-mode nav {
  border-top-color: #000000;
}
body.dark-mode nav #nav-div #logo {
  background-image: url("../img/logo-desktop-nocturno.svg");
}
body.dark-mode nav #nav-div #nav-elem a {
  color: #ffffff;
}
body.dark-mode nav #nav-div #nav-elem #nav-elem-agr {
  width: 54px;
  height: 54px;
  display: inline-block;
  background-image: url("../img/button-crear-gifo-noc.svg");
  cursor: pointer;
}
body.dark-mode nav #nav-div #nav-elem #nav-elem-agr:hover {
  background-image: url("../img/button-crear-gifo-hover-noc.svg");
}
body.dark-mode footer {
  border-bottom-color: #000000;
}
body.dark-mode header #search-div {
  border: 1px solid #ffffff;
}
body.dark-mode header #search-div .search-bar-div #search-bar-lupa-placeholder {
  background-image: url("../img/icon-search-noc.svg");
}
body.dark-mode header #search-div .search-bar-div #search-bar-cross {
  background-image: url("../img/close-noc.svg");
}
body.dark-mode section {
  background-color: #222326;
}
body.dark-mode section #section-res-gal-pag ul li.activo {
  background-color: #ffffff;
  color: #000000;
}
body.dark-mode section #section-res-gal-more {
  background-image: url("../img/cta-ver-mas-noc.svg");
}
body.dark-mode section #section-res-gal-more:hover {
  background-image: url("../img/cta-ver-mas-hover-noc.svg");
}

/*  DESKTOP  */
@media all and (min-width: 1024px) {
  body h1 {
    font-size: 34px;
    max-width: 600px;
    margin: 0 auto;
  }
  body h2 {
    font-size: 24px;
  }
  body h3 {
    font-size: 18px;
  }
  body h4 {
    font-size: 16px;
  }
  body nav #nav-div {
    max-width: 70vw;
    margin: 0 auto;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  body nav #nav-div #nav-ham {
    display: none;
  }
  body nav #nav-div #nav-elem {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body header #header-bus img {
    max-width: 390px;
  }
  body header #header-bus #search-div {
    width: 520px;
  }
  body section #section-tre-car img {
    width: 360px;
    height: 275px;
  }
  body footer #footer-div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    max-width: 70vw;
    margin: 0 auto;
  }
  body footer #footer-div #footer-com {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: stretch;
        -ms-flex-pack: stretch;
            justify-content: stretch;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
  }
  body footer #footer-div #footer-com #footer-com-ico {
    padding: 0 0 0 20px;
  }
}
/*# sourceMappingURL=style.css.map */