/*  GIFOS Stylesheet  */
/* Hecho Mobile First */

/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&family=Roboto:wght@400;700;900&display=swap");

/* Variables */
/* Modo diurno */

$light-col-pri: #572ee5;
$light-col-sec: #50e3c2;
$light-negro: #000000;
$light-gris: #f3f5f8;
$light-gris-oscuro: #9cafc3;

/* Modo nocturno */

$dark-col-pri: #ffffff;
$dark-col-sec: #50e3c2;
$dark-negro: #000000;
$dark-gris: #37383c;
$dark-gris-oscuro: #222326;

$interlineado: 1.7;
$anchomax: 70vw;

/* Mixins */

@mixin centrarFlex($direccion, $centradojus, $centradoali) {
  display: flex;
  flex-direction: $direccion;
  justify-content: $centradojus;
  align-items: $centradoali;
}

/* Responsive */

* {
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

/* Elimina la X de la barra en IE */
input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

/* Elimina la X de la barra en Webkit */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/*  MOBILE   */
/* max 480px */

body {
  h1,
  h2,
  h3,
  h4,
  h5 {
    font-family: Montserrat;
    font-weight: 700;
    color: $light-col-pri;
  }

  h1 {
    font-size: 25px;

    em {
      font-style: inherit;
      color: $light-col-sec;
    }
  }

  h2 {
    font-size: 20px;
    text-transform: capitalize;

    em {
      font-style: inherit;
      color: $light-col-sec;
    }
  }

  h3 {
    font-size: 16px;
  }

  h4 {
    font-size: 14px;
    font-weight: 500;
    display: inline-block;
    padding-right: 5px;
    text-transform: capitalize;
  }

  p,
  span,
  a,
  ul,
  input {
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    color: $light-negro;
  }

  ::placeholder {
    color: $light-gris-oscuro;
    opacity: 1;
  }

  :-ms-input-placeholder {
    color: $light-gris-oscuro;
  }

  ::-ms-input-placeholder {
    color: $light-gris-oscuro;
  }

  button {
    font-family: "Montserrat";
    text-transform: uppercase;
    font-weight: 700;
    background: rgba(0, 0, 0, 0);
    border: 1px solid $light-col-pri;
    border-radius: 25px;
    padding: 15px 30px;
    color: $light-col-pri;
  }

  a {
    cursor: pointer;
    &:hover {
      border-bottom: 2px solid $light-col-sec;
      transition: border-width 0.1s linear;
    }
  }

  .hide {
    display: none !important;
  }

  div#overlay {
    background: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    @include centrarFlex(row, center, center);

    #overlay-gif-middle-div {
      @include centrarFlex(column, center, center);
      margin: 0 25px;

      #overlay-info {
        width: 100%;

        #overlay-info-det-user {
          margin-top: 25px;
          font-size: 15px;
        }

        #overlay-info-det-title {
          font-weight: bold;
          margin-top: 7px;
          font-size: 18px;
        }
      }
    }

    #overlay-gif-left-div,
    #overlay-gif-right-div {
      @include centrarFlex(column, center, center);
      height: 70%;
      position: relative;
    }

    #overlay-gif-slide-right,
    #overlay-gif-slide-left {
      width: 40px;
      height: 40px;
      display: inline-block;
    }

    #overlay-gif-slide-right {
      background-image: url("../img/button-slider-right.svg");

      &:hover {
        background-image: url("../img/button-slider-right_hover.svg");
      }
    }

    #overlay-gif-slide-left {
      background-image: url("../img/button-slider-left.svg");

      &:hover {
        background-image: url("../img/button-slider-left_hover.svg");
      }
    }

    #overlay-close {
      position: absolute;
      right: 0;
      top: 0;
    }
  }

  nav {
    border-top: 5px solid $light-col-pri;

    #nav-ham {
      display: none;
    }

    #nav-div {
      @include centrarFlex(row, center, stretch);
      padding: 30px 20px;

      #logo {
        cursor: pointer;
        width: 62px;
        height: 59px;
        background-image: url("../img/logo-desktop.svg");
      }

      #nav-elem {
        display: none;

        a {
          font-family: Montserrat, sans-serif;
          text-decoration: none;
          color: $light-col-pri;
          font-weight: bold;
          font-size: 14px;
          margin-right: 50px;
          text-transform: uppercase;

          &.active {
            color: $light-gris-oscuro;
          }
        }

        #nav-elem-agr {
          width: 54px;
          height: 54px;
          display: inline-block;
          background-image: url("../img/button-crear-gifo.svg");
          cursor: pointer;

          &:hover {
            background-image: url("../img/button-crear-gifo_hover.svg");
          }
        }
      }
    }
  }

  header {
    padding: 15px 0;

    h1 {
      text-align: center;
      padding: 0 35px;
    }

    #header-bus {
      @include centrarFlex(column, center, center);

      img {
        max-width: 230px;
      }

      padding: 30px 0 15px 0;
    }

    #header-tre {
      text-align: center;
      padding: 20px 70px;
      line-height: $interlineado;

      li {
        a {
          cursor: pointer;
        }
      }
    }

    #search-div {
      border-radius: 25px;
      border: 1px solid $light-col-pri;
      font-size: 16px;
      padding: 15px 20px;
      width: 80%;

      ul {
        li {
          .search-bar-lupa-search {
            background-image: url("../img/icon-search-gris.svg");
            width: 17px;
            height: 15px;
            display: inline-block;
            background-repeat: no-repeat;
            margin-right: 8px;
          }
        }
      }

      .search-bar-div {
        display: flex;

        i {
          &:first-child {
            padding-right: 10px;
            color: $light-gris-oscuro;
          }

          &:last-child {
            padding-left: 10px;
            color: $light-col-pri;
          }
        }
        form {
          width: 100%;
          input {
            border: none;
            background-color: rgba(0, 0, 0, 0);
            width: 100%;
          }
        }

        #search-bar-lupa-placeholder,
        #search-bar-lupa-search {
          width: 22px;
          height: 20px;
          background-repeat: no-repeat;
        }

        #search-bar-lupa-placeholder {
          background-image: url("../img/icon-search.svg");
        }

        #search-bar-lupa-search {
          background-image: url("../img/icon-search-gris.svg");
          margin-right: 8px;
        }

        #search-bar-cross {
          width: 15px;
          height: 14px;
          background-image: url("../img/close.svg");
          background-repeat: no-repeat;
        }
      }

      #search-sug-list {
        list-style-type: none;
        color: $light-gris-oscuro;

        li {
          cursor: pointer;
          i {
            padding-right: 18px;
          }

          &:first-child {
            border-top: 1px solid $light-gris-oscuro;
            padding-top: 15px;
            margin-top: 10px;
          }

          padding: 7px 0;
        }
      }
    }
  }

  section {
    text-align: center;
    padding: 30px 0;
    background-color: $light-gris;

    &#section-tre {
      //background-color: $light-gris;

      #section-tit {
        line-height: $interlineado;
        padding: 0 70px 30px 70px;
      }

      #section-tre-car {
        img {
          width: 275px;
          height: 275px;
        }
      }
    }

    #section-res-tit {
      font-size: 36px;
      margin-bottom: 60px;
    }

    #section-res-gal-more {
      width: 127px;
      height: 50px;
      margin: 0 auto;
      background-image: url("../img/cta-ver-mas.svg");
      cursor: pointer;

      &:hover {
        background-image: url("../img/cta-ver-mas-hover.svg");
      }
    }

    #section-res-info,
    #section-fav-info {
      margin: 95px 0;
      h3 {
        text-align: center;
        color: $light-col-sec;
        margin-top: 25px;
      }
    }

    #section-res-gal,
    #section-fav-gal,
    #section-tre-car {
      max-width: $anchomax;
      margin: 50px auto;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
      gap: 25px;
      justify-content: center;
      align-content: center;

      .fetched-gif {
        width: 260px;
        height: 200px;
        background-size: cover;
        overflow: hidden;
        position: relative;
        margin: 0 auto;

        &:hover .fetched-gif-overlay {
          top: 0;
        }

        .fetched-gif-overlay {
          background-color: rgba(87, 46, 229, 0.7);
          height: 100%;
          width: 100%;
          top: -100%;
          position: absolute;
          transition: 0.5s ease;
          box-sizing: border-box;
          padding: 15px;
          @include centrarFlex(column, flex-end, flex-start);

          .fetched-gif-options {
            @include centrarFlex(row, flex-end, center);
            width: 100%;

            div {
              margin-left: 10px;
            }

            .fetched-gif-option-fav,
            .fetched-gif-option-down,
            .fetched-gif-option-view {
              height: 32px;
              width: 32px;
            }

            .fetched-gif-option-fav {
              background-image: url("../img/icon-fav-normal.svg");

              &:hover {
                background-image: url("../img/icon-fav-hover.svg");
              }

              &.active {
                background-image: url("../img/icon-fav-active.svg");
              }
            }

            .fetched-gif-option-down {
              background-image: url("../img/icon-download-normal.svg");

              &:hover {
                background-image: url("../img/icon-download-hover.svg");
              }
            }

            .fetched-gif-option-view {
              background-image: url("../img/icon-max-normal.svg");

              &:hover {
                background-image: url("../img/icon-max-hover.svg");
              }
            }
          }

          .fetched-gif-info {
            @include centrarFlex(column, flex-end, flex-start);
            height: 100%;

            .fetched-gif-user {
              font-size: 14px;
            }

            .fetched-gif-title {
              font-size: 16px;
              font-weight: bold;
              text-align: left;
            }
          }

          p {
            color: #fff;
          }
        }
      }

      img {
        width: 260px;
        height: 200px;
      }
    }

    #section-tre-div {
      @include centrarFlex(row, center, center);
      #section-tre-car {
        overflow-x: hidden;
        overflow-y: hidden;
        margin: 50px 20px;
        grid-template-columns: repeat(9, 1fr);
        grid-template-rows: 1fr;
        max-width: 830px;
        justify-content: initial;
      }

      #trending-gif-slide-right,
      #trending-gif-slide-left {
        width: 40px;
        height: 40px;
        display: inline-block;
      }

      #trending-gif-slide-right {
        background-image: url("../img/button-slider-right.svg");

        &:hover {
          background-image: url("../img/button-slider-right_hover.svg");
        }
      }

      #trending-gif-slide-left {
        background-image: url("../img/button-slider-left.svg");

        &:hover {
          background-image: url("../img/button-slider-left_hover.svg");
        }
      }
    }

    #section-res-gal-pag,
    #section-fav-gal-pag {
      #arrow-left,
      #arrow-right {
        width: 8px;
        height: 14px;
        display: inline-block;
        cursor: pointer;
      }

      #arrow-left {
        background-image: url("../img/arrow-left-gris.svg");

        &.active {
          background-image: url("../img/arrow-left-active.svg");
        }
      }

      #arrow-right {
        background-image: url("../img/arrow-right-gris.svg");

        &.active {
          background-image: url("../img/arrow-right-active.svg");
        }
      }

      ul {
        @include centrarFlex(row, center, stretch);
        list-style-type: none;
        margin-bottom: 25px;
        display: inline-block;
        padding: 0 30px;

        li {
          color: $light-gris-oscuro;
          font-weight: bold;
          cursor: pointer;
          margin: 0 5px;
          @include centrarFlex(row, center, center);
          display: inline-flex;
          width: 35px;
          height: 35px;

          &.activo {
            color: #ffffff;
            background-color: $light-col-pri;
            border-radius: 50%;
          }
        }
      }
    }
  }

  #section-cre {
    width: $anchomax;
    margin: 0 auto;
    background-color: #ffffff;
    #section-cre-fila-1 {
      @include centrarFlex(row, center, center);
      #section-cre-fila-1-col-1 {
        @include centrarFlex(row, center, center);
        width: 20%;
        #proyector {
          width: 123px;
          height: 162px;
          background-image: url("../img/misgifos-camara.svg");
        }
        #luz {
          width: 76px;
          height: 128px;
          background-image: url("../img/misgifos-camara-luz.svg");
          margin-bottom: -2px;
        }
      }
      #section-cre-fila-1-col-2 {
        @include centrarFlex(row, center, center);
        width: 60%;
        border: 1px solid $light-col-pri;
        height: 390px;
      }
      #section-cre-fila-1-col-3 {
        width: 20%;
      }
      #section-cre-video {
        width: 470px;
        height: 480px;
      }
    }
    #section-cre-fila-2 {
      @include centrarFlex(row, center, center);
      #section-cre-fila-2-col-1 {
        //flex-grow: 0;
        width: 10%;
      }
      #section-cre-fila-2-col-2 {
        width: 80%;
        //flex-grow: 4;
        text-align: center;
        ul {
          @include centrarFlex(row, center, center);
          margin: 25px 0;
          list-style-type: none;
          li {
            display: inline-block;
            font-weight: bold;
            margin: 0 5px;
            @include centrarFlex(row, center, center);
            display: inline-flex;
            width: 35px;
            height: 35px;
            color: $light-col-pri;
            border: 1px solid $light-col-pri;
            border-radius: 50%;

            &.activo {
              color: #ffffff;
              background-color: $light-col-pri;
              border-radius: 50%;
            }
          }
        }

        #info-container {
          @include centrarFlex(row, center, center);
          #info-space {
            width: 20%;
          }

          #info-pasos {
            width: 60%;
          }

          #info-div {
            width: 20%;
          }
        }

        hr {
          height: 6px;
          margin: 25px auto;
          width: 60%;
          background-color: $light-col-pri;
          border-radius: 6px;
        }
      }
      #section-cre-fila-2-col-3 {
        //flex-grow: 0;
        width: 10%;
        #rollo {
          width: 142px;
          height: 88px;
          background-image: url("../img/misgifos-rollo.svg");
        }
      }
    }
    #section-cre-fila-3 {
      @include centrarFlex(row, center, center);
      #section-cre-comenzar {
        width: 131px;
        height: 52px;
        background-image: url("../img/cta-comenzar.svg");
        cursor: pointer;
      }
      #section-cre-grabar {
        width: 131px;
        height: 52px;
        background-image: url("../img/cta-grabar.svg");
        cursor: pointer;
      }
      #section-cre-finalizar {
        width: 131px;
        height: 52px;
        background-image: url("../img/cta-finalizar.svg");
        cursor: pointer;
      }
      #section-cre-subirgifo {
        width: 131px;
        height: 52px;
        background-image: url("../img/cta-subirgifo.svg");
        cursor: pointer;
      }
    }
  }

  footer {
    border-bottom: 5px solid $light-col-pri;
    #footer-div {
      @include centrarFlex(column, stretch, stretch);
      text-align: center;
      padding: 30px 20px;

      #footer-com-ico {
        padding: 20px 0 50px 0;

        div {
          margin: 0 7px;
          display: inline-block;
        }

        #footer-com-ico-fb {
          width: 8px;
          height: 17px;
          background-image: url("../img/icon_facebook.svg");
          cursor: pointer;

          &:hover {
            background-image: url("../img/icon_facebook_hover.svg");
          }
        }

        #footer-com-ico-ig {
          width: 18px;
          height: 18px;
          background-image: url("../img/icon_instagram.svg");
          cursor: pointer;

          &:hover {
            background-image: url("../img/icon_instagram_hover.svg");
          }
        }

        #footer-com-ico-tw {
          width: 18px;
          height: 17px;
          background-image: url("../img/icon_twitter.svg");
          cursor: pointer;

          &:hover {
            background-image: url("../img/icon_twitter_hover.svg");
          }
        }
      }
    }
  }
}

body.dark-mode {
  background-color: $dark-gris;

  h1,
  h2,
  h3,
  h4,
  h5 {
    color: $dark-col-pri;
  }

  p,
  span,
  a,
  ul,
  input {
    color: $dark-col-pri;
  }

  nav {
    border-top-color: $dark-negro;

    #nav-div {
      #logo {
        background-image: url("../img/logo-desktop-nocturno.svg");
      }

      #nav-elem {
        a {
          color: $dark-col-pri;
        }

        #nav-elem-agr {
          width: 54px;
          height: 54px;
          display: inline-block;
          background-image: url("../img/button-crear-gifo-noc.svg");
          cursor: pointer;

          &:hover {
            background-image: url("../img/button-crear-gifo-hover-noc.svg");
          }
        }
      }
    }
  }

  footer {
    border-bottom-color: $dark-negro;
  }

  header {
    #search-div {
      border: 1px solid $dark-col-pri;
    }

    #search-div {
      .search-bar-div {
        #search-bar-lupa-placeholder {
          background-image: url("../img/icon-search-noc.svg");
        }
        #search-bar-cross {
          background-image: url("../img/close-noc.svg");
        }
      }
    }
  }

  section {
    background-color: $dark-gris-oscuro;

    #section-res-gal-pag {
      ul {
        li {
          &.activo {
            background-color: $dark-col-pri;
            color: $dark-negro;
          }
        }
      }
    }

    #section-res-gal-more {
      background-image: url("../img/cta-ver-mas-noc.svg");

      &:hover {
        background-image: url("../img/cta-ver-mas-hover-noc.svg");
      }
    }
  }
}

/*  DESKTOP  */

@media all and (min-width: 1024px) {
  body {
    h1 {
      font-size: 34px;
      max-width: 600px;
      margin: 0 auto;
    }

    h2 {
      font-size: 24px;
    }

    h3 {
      font-size: 18px;
    }

    h4 {
      font-size: 16px;
    }

    nav {
      #nav-div {
        max-width: $anchomax;
        margin: 0 auto;
        justify-content: space-between;
        #nav-ham {
          display: none;
        }

        #nav-elem {
          @include centrarFlex(row, center, center);
        }
      }
    }

    header {
      #header-bus {
        img {
          max-width: 390px;
        }

        #search-div {
          width: 520px;
        }
      }
    }

    section {
      #section-tre-car {
        img {
          width: 360px;
          height: 275px;
        }

        #section-res {
          #section-res-gal {
          }
        }
      }
    }

    footer {
      #footer-div {
        @include centrarFlex(row, space-between, stretch);
        max-width: $anchomax;
        margin: 0 auto;

        #footer-com {
          @include centrarFlex(row, stretch, stretch);

          #footer-com-ico {
            padding: 0 0 0 20px;
          }
        }
      }
    }
  }
}
